extends layout

block content

  h1 Check out our movie collection
  p(class='index') Look through our entire collection of movies, we have something for everyone.
  p(class='index-hidden') Click the button below to get started.
  a(href='/movies')
    button(class='cta') Explore the collection
