doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lobster|Noto+Sans&display=block')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='/js/jquery.tablesorter.js')
    script(src='/js/main.js')
  body
    nav(class='navbar')
      div(class='menu')
        div(class='brand')
          a(href='/') Sans Cinema
        div(class='menu-items')
          a(href='/') Home
          a(href='/movies') Movies
          a(href='/movie/create') Add Movie

    div(class='container')
      block content

    nav(class='mobile-navbar')
      div(class='menu')
        div(class='item')
          a(href='/') 
            i(class='fa fa-home fa-2x')
        div(class='item')
          a(href='/movies') 
            i(class='fa fa-list fa-2x')
        div(class='item')
          a(href='/movie/create', class='add-btn')
            i(class='fa fa-plus-square fa-2x')
        div(class='item')
          a(class='help-btn') 
            i(class='fa fa-question-circle fa-2x')

    div(class='mobile-overlay-help')
      div(class='menu')
        div(class='item') 
          div(class='text') Home
          i(class='fa fa-sort-down')
        div(class='item') 
          div(class='text') Movie List
          i(class='fa fa-sort-down')
        div(class='item') 
          div(class='text') Add a movie
          i(class='fa fa-sort-down')
        div(class='item') 
          div(class='text') Close
          i(class='fa fa-sort-down')

    div(class='footer')
      div(class='copyright') Copyright &copy; 
        script.
          var year = document.write(new Date().getFullYear())  
        #{year}  Jeremiah Mills
           
      
    