extends layout

block content
    
    h1(class='movie-list') Movies
    p(class='small') Please select a movie to view its details.
    p(class='small') *Click the column name of the movie attribute you would like to sort.
    table(id='movie-list-table', class='tablesorter')
        thead
            tr
                th Title 
                    i(class='fa fa-sort')
                th Format
                    i(class='fa fa-sort')
                th Length(min)
                    i(class='fa fa-sort')
                th Release Year
                    i(class='fa fa-sort')
                th Rating
                    i(class='fa fa-sort')
        tbody
            each movie in movies
                tr
                    td 
                        a(href=movie.url) #{movie.title}
                    td 
                        a(href=movie.url) #{movie.format}
                    td 
                        a(href=movie.url) #{movie.length}
                    td 
                        a(href=movie.url) #{movie.release_year}
                    td 
                        a(href=movie.url) #{movie.rating}

    script.
        $(function() {
            $("#movie-list-table").tablesorter();
        });
                
            

