extends layout

block content

    form(method='POST' action='', class='dialog')
        h1=title
        label(for='title') Title
        input#title.form-control(type='text' placeholder='Title' name='title' required='true' value=(undefined===movie ? '' : movie.title))
        label(for='format') Format
        input#format.form-control(type='text' placeholder='Format' name='format' required='true' value=(undefined===movie ? '' : movie.format))
        label(for='length') Length (min)
        input#length.form-control(type='number' placeholder='Length' name='length' required='true' value=(undefined===movie ? '' : movie.length))
        label(for='release_year') Release Year
        input#release_year.form-control(type='number' placeholder='Release Year' name='release_year' required='true' value=(undefined===movie ? '' : movie.release_year))
        label(for='rating') Rating
        input#rating.form-control(type='number' placeholder='Rating' name='rating' required='true' value=(undefined===movie ? '' : movie.rating))
        a: button(type='submit') Submit
        if errors
            ul(class='errors')
                for error in errors
                    li!= error.msg