extends layout

block content

  div(class='dialog')
    h1= title
    h3 Do you really want to delete this movie?
    div(class='content')
      p Title:
        span: a(href=movie.url) #{movie.title}
      p Format:
        span #{movie.format}
      p Length:
        span #{movie.length}
      p Release Year:
        span #{movie.release_year}
      p Rating:
        span #{movie.rating}
      form(method='POST' action='')
        input#id.form-control(type='hidden',name='id', required='true', value=movie._id )
        a: button(type='submit', class='delete') Delete