extends layout

block content
    
    div(class='dialog')
        h1 #{movie.title}
        div(class='content')
            p Release Year:
                span #{movie.release_year}
            p Length (min):
                span #{movie.length} min
            p Format:
                span #{movie.format}
            p Rating:
                span #{movie.rating}
        div(class='row')
            a(href=movie.url + '/update')
                button(class='small') Update movie
            a(href=href=movie.url + '/delete')
                button(class='delete small') Delete movie
