/* CSS Variables */
:root {
  --navbar-height: 75px;
  --mobile-navbar-height: 65px;
  --footer-height: 65px;
  --default-font: 'Noto Sans JP', sans-serif;
  --brand-font: 'Lobster', cursive;
  --black: #000000;
  --red: #8c2229;
  --light-gray: #d3d2ce;
  --background: rgba(0,0,0,.9);
}

/* Global Styles */
* {
  font-family: var(--default-font);
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  background: var(--black);
  background-image: url(/images/cinema-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 100;
  margin-bottom: 0;
  -webkit-letter-spacing: -0.5px;
  -moz-letter-spacing: -0.5px;
  -ms-letter-spacing: -0.5px;
  letter-spacing: -0.5px;
  font-size: 40px;
  line-height: 48px;
  color: var(--light-gray);
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 300;
  color: var(--light-gray);
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  letter-spacing: 0.5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: calc(100vh - (var(--navbar-height) + var(--mobile-navbar-height)));
  margin-left: auto;
  margin-right: auto;
}
.dialog {
  width: 80%;
  background: var(--background);
  box-shadow: 0 2px 4px 0 var(--red);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.dialog .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.dialog .content p {
  color: var(--red);
  margin: 10px 0;
}
.dialog .content p span {
  color: var(--light-gray);
  margin-left: 10px;
}
ol {
  padding-inline-start: 0;
}
a button {
  height: 46px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  min-width: 136px;
  padding: 0 32px;
  background: var(--light-gray);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.1s ease;
  -webkit-transition: box-shadow 0.2s ease, transform 0.1s ease;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a button.cta {
  margin-top: 40px;
}
a button.small {
  min-width: none;
  padding: 0;
}
a button.delete {
  background: var(--red);
}

/* Navbar */
.navbar {
  background: var(--black);
  width: 100%;
  height: var(--navbar-height);
  top: 0;
  left: 0;
}
.navbar .menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar .menu .brand a {
  font-size: 30px;
  font-family: var(--brand-font);
  color: var(--red);
}
.navbar .menu .brand a,
.navbar .menu .menu-items a {
  text-decoration: none;
  padding: 15px 10px;
}
.navbar .menu .menu-items {
  display: none;
}

/* Mobile Navbar */
.mobile-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--black);
  border-top: 1px solid var(--light-gray);
}
.mobile-navbar .menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.mobile-navbar .menu .item {
  width: 25%;
  text-align: center;
  color: var(--light-gray);
  cursor: pointer;
}
.mobile-navbar .menu .item:not(:first-child) {
  border-left: 1px solid var(--light-gray);
}
.mobile-navbar .menu .item a {
  color: var(--light-gray);
}
.mobile-navbar .menu .item i {
  padding: 1rem;
  border: 0;
  background: none;
  width: 100%;
}

/* Mobile Overlay */
[class^='mobile-overlay'] {
  background: var(--background);
  position: fixed;
  top: calc(100% - 130px);
  left: 0;
  right: 0;
  bottom: var(--mobile-navbar-height);
  display: none;
}
[class^='mobile-overlay'] .menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: var(--mobile-navbar-height);
}
[class^='mobile-overlay'] .menu .item {
   display: flex;
   flex-direction: column;
   width: 25%;
   text-align: center;
   color: var(--light-gray);
}
.active {
  display: block;
}

/* Footer */
.footer {
  display: none;
}

/* Index */
p.index {
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
}
p.index-hidden {
  display: none;
}

/* Movie List */
table {
  color: var(--light-gray);
  width: 100%;
  background: var(--background);
  box-shadow: 0 2px 4px 0 var(--red);
  margin-top: 10px;
  margin-bottom: calc(20px + var(--mobile-navbar-height));
}
th, td { 
  text-align: left; 
  padding: 0.5em;
  flex: 1 1 20%;
}
td a {
  display: block;
  text-decoration: none;
  color: var(--light-gray);
}
#movie-list-table tr { 
  color: var(--red);
  border-bottom: 1px solid var(--red);
  cursor: pointer;
}
#movie-list-table tr:hover { 
  color: var(--light-gray);
}
#movie-list-table tr i { 
  float: right;
  color: var(--light-gray);
  font-size: 12px;
}
#movie-list-table tr:hover i { 
  color: var(--black);
}
tr { 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5em 0;
}
tr:hover { 
  background: var(--red); 
}
h1.movie-list {
  margin-bottom: 10px;
}
p.small {
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
  color: var(--light-gray);
}

/* Movie Detail */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.dialog .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.dialog .row a {
  margin: 0 10px;
}

/* Movie Form */
label {
  font-weight: 700;
  font-stretch: normal;
  text-align: left;
  font-size: 12px;
  line-height: normal;
  color: var(--light-gray);
}
.dialog input {
  font-weight: 300;
  font-stretch: normal;
  margin-top: 5px;
  margin-bottom: 17px;
  color: var(--black);
  width: 100%;
  height: 30px;
  background-color: #fff;
  border: solid 1px #e4e4e4;
  text-indent: 12px;
}
.dialog a {
  align-self: center;
}
.dialog .errors {
  color: var(--red);
}

/* Movie Delete */
.dialog h3 {
  margin-block-start: 20px;
  margin-block-end: 0;
  text-align: center;
  color: var(--red);
}
.dialog .content p span a {
  color: var(--light-gray);
}
.dialog .content p span a:hover {
  color: var(--red);
}
.content form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content form a {
  align-self: center;
  margin-top: 20px;
}

/* Phone/mobile */
@media (max-width: 420px) {
  .container {
    padding: 10px;
  }
  .dialog {
    width: 100%;
  }
  .dialog input {
    margin-bottom: 5px;
  }
  .dialog h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .movie-list-wrapper {
    padding: 10px 20px;
  }
}

/* Tablets */
@media (min-width: 768px) {
  .container {
    padding: 20px 40px;
  }
  /* Navbar */
  .navbar .menu {
    justify-content: space-between;
  }
  .navbar .menu .menu-items {
    display: block;
  }
  .navbar .menu .brand,
  .navbar .menu .menu-items {
    padding: 15px 40px;
  }
  .navbar .menu .menu-items a {
    font-size: 14px;
    font-family: var(--default-font);
    color: var(--light-gray);
    text-transform: uppercase;
  }
  .navbar .menu .menu-items a:hover {
    color: var(--red);
  }
  /* Mobile Navbar */
  .mobile-navbar {
    display: none;
  }
  /* Footer */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    background: var(--black);
    height: var(--footer-height);
  }
  .footer .copyright {
    font-size: 14px;
    color: var(--light-gray);
    text-transform: uppercase;
  }
  h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .dialog {
    width: 500px;
    box-shadow: 0 2px 4px 0 var(--red);
    padding: 20px 80px;
  }
  .dialog h1 {
    font-size: 32px;
    line-height: 40px;
  }
  /* Index */
  p.index-hidden {
    display: block;
    margin-top: 40px;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: var(--light-gray);
  }
  /* Movie List */
  table {
    margin: 20px;
  }
  #movie-list-table tr { 
    border-bottom: none;
  }
  #movie-list-table tr i { 
    margin-right: 0.5em;
  }
  p.small {
    font-size: 14px;
  }
}

/* Laptops & Desktops */
@media (min-width: 1024px) {
  h1 {
    font-size: 56px;
    line-height: 64px;
  }
  p.index {
    font-size: 24px;
    line-height: 32px;
  }
  p.index-hidden {
    font-size: 16px;
    line-height: 26px;
  }
  table {
    width: 80%;
  }
}